table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

table td {
    text-align: center;
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th:nth-child(1) {
    width: 30%;
}

table th:nth-child(2),
table th:nth-child(3),
table th:nth-child(4) {
    width: 10%;
}

table th:nth-child(5),
table th:nth-child(6) {
    width: 20%;
}

table th {
    box-sizing: border-box;
    padding: 0.5em 1%;
}

table td {
    padding: 0.25em 1%;
}

table thead,
table tbody {
    border-bottom: 2px solid var(--main-subtle-background);
}

table thead {
    border-top: 2px solid var(--main-subtle-background);
}
