@import 'header.css';
@import 'request-form.css';
@import 'response-table.css';

:root {
    --body-background: #eee;
    --body-primary: #bbb;
    --header-background: #101f27;
    --header-primary: #fff;
    --header-accent: #fa0345;
    --main-background: #fff;
    --main-primary: #212529;
    --main-accent: #3584e4;
    --main-subtle-background: #eee;
    --main-subtle-primary: #bbb;
    --main-action-background: #f3dd73;
    --main-action-primary: #000;
}

html, body {
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    color: var(--body-primary);
    background-color: var(--body-background);
}

main {
    box-sizing: border-box;
    width: 70%;
    min-width: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-primary);
}

@media (max-width: 500px) {
    main {
        width: 99%;
        min-width: min-content;
    }
}

section {
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
    border-radius: 5px;
    padding: 0.5em 3%;
    background-color: var(--main-background);
}

div.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button, input[type='submit'], a.button-styled, .panel-styled {
    margin: 0.3em;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 110%;
}

button, input[type='submit'], a.button-styled {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-action-primary);
    background-color: var(--main-action-background);
}

.panel-styled {
    display: block;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    width: min-content;
    margin: 0.3em auto;
    background-color: var(--main-subtle-background);
}

.controls-block {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em 1%;
}
