@import 'header.css';
@import 'request.css';
@import 'response.css';

:root {
    --header-base: #212529;
    --header-content: #fff;
    --header-accent: #fa0345;
    --background-base: #eee;
    --background-content: #4d4d4d;
    --main-subtle: #eee;
    --main-base: #fff;
    --main-content: #212529;
    --main-accent: #3584e4;
    --action-base: #f3dd73;
    --action-content: #000;
}

html, body {
    min-width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    color: var(--background-content);
    background-color: var(--background-base);
}

main {
    box-sizing: border-box;
    width: 70%;
    min-width: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-content);
}

@media (max-width: 500px) {
    main {
        width: 99%;
        min-width: min-content;
    }
}

section {
    box-sizing: border-box;
    width: 100%;
    margin: 1% 0;
    border-radius: 5px;
    padding: 1px 20px;
    background-color: var(--main-base);
}

button, input[type='submit'] {
    display: block;
    margin: 0.25em 1%;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 110%;
    color: var(--action-content);
    background-color: var(--action-base);
}

input[type='text'] {
    min-width: min-content;
    width: 100%;
    text-align: center;
}
